<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea Nuovo Giocatore</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Crea un Nuovo Giocatore</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/giocatore/giocatori">Elenco Giocatori</a></li>
                <li><a href="/squadra/squadre">Squadre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form th:action="@{/giocatore/salva}" th:object="${giocatore}" method="post">
            <label for="CF">Codice Fiscale:</label>
            <input type="text" id="CF" name="CF" th:field="*{CF}" required>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" th:field="*{nome}" required>

            <label for="cognome">Cognome:</label>
            <input type="text" id="cognome" name="cognome" th:field="*{cognome}" required>

            <label for="dataNascita">Data di Nascita:</label>
            <input type="date" id="dataNascita" name="dataNascita" th:field="*{dataNascita}" required>

            <label for="luogoNascita">Luogo di Nascita:</label>
            <input type="text" id="luogoNascita" name="luogoNascita" th:field="*{luogoNascita}" required>

            <label for="ruolo">Ruolo:</label>
            <input type="text" id="ruolo" name="ruolo" th:field="*{ruolo}" required>
           <!-- <select id="role" name="role" required>
                <option value="">-- Seleziona ruolo --</option>
                <option value="ATTACANTE">Giocatore</option>
                <option value="CENTROCAMPISTA">Presidente</option>
                <option value="DIFENSORE">Presidente</option>
                <option value="PORTIERE">Presidente</option>
            </select>-->

            <label for="squadra">Squadra:</label>
            <select id="squadra" name="squadraId" required>
                <option value="">-- Seleziona Squadra --</option>
                <option th:each="squadra : ${squadre}" th:value="${squadra.id}" th:text="${squadra.nome}"></option>
            </select>

            <button type="submit">Salva Giocatore</button>
        </form>
    </main>

    <footer>
        <p>Contatti: Federazione Sportiva | Via Roma, 100 | 00100 Roma | Tel: +39 06 1234567 | Email: info@federazionesportiva.it</p>
    </footer>
</body>
</html>



