<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco Squadre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Elenco delle Squadre</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            <!-- <li th:if="${#authorization.expression('hasRole('PRESIDENTE')')}">
                    <a href="/squadra/nuova">Crea Squadra</a>
                </li>-->
                <li><a href="/squadre/nuova">Crea Squadra</a></li>
                <li><a href="/giocatori/all">Giocatori</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Anno di Fondazione</th>
                    <th>Indirizzo</th>
                    <th>Azione</th>
                </tr>
            </thead>
            <tbody>
                <!-- Popolamento dinamico dei dati -->
                <tr th:each="squadra : ${squadre}">
                    <td th:text="${squadra.nome}"></td>
                    <td th:text="${squadra.annoFondazione}"></td>
                    <td th:text="${squadra.indirizzoSede}"></td>
                    <td>
                        <a class="button" th:href="@{'/squadra/modifica/' + ${squadra.id}}">Modifica</a>
                        <a class="button" th:href="@{'/squadra/cancella/' + ${squadra.id}}">Cancella</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>Contatti: Federazione Sportiva | Via Roma, 100 | 00100 Roma | Tel: +39 06 1234567 | Email: info@federazionesportiva.it</p>
    </footer>
</body>
</html>
