<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuovo Giocatore</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collegamento al file CSS -->
</head>
<body>

    <header>
        <h1>Crea Nuovo Giocatore</h1>
    </header>

    <main>
        <form th:action="@{/giocatore/new}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="CF">Codice Fiscale</label>
                <input type="text" id="CF" name="CF" placeholder="Inserisci Codice Fiscale" required>
            </div>

            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Inserisci Nome" required>
            </div>

            <div class="form-group">
                <label for="cognome">Cognome</label>
                <input type="text" id="cognome" name="cognome" placeholder="Inserisci Cognome" required>
            </div>

            <div class="form-group">
                <label for="dataNascita">Data di Nascita</label>
                <input type="date" id="dataNascita" name="dataNascita" required>
            </div>

            <div class="form-group">
                <label for="luogoNascita">Luogo di Nascita</label>
                <input type="text" id="luogoNascita" name="luogoNascita" placeholder="Inserisci Luogo di Nascita" required>
            </div>

            <div class="form-group">
                <label for="ruolo">Ruolo</label>
                <select id="ruolo" name="ruolo" required>
                    <option value="" disabled selected>Seleziona Ruolo</option>
                    <option th:each="ruolo : ${ruolo}" th:value="${ruolo}" th:text="#{'singular.'+ ${ruolo}}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="squadra">Squadra</label>
                <select id="squadra" name="squadra" required>
                    <option value="" disabled selected>Seleziona Squadra</option>
                    <option th:each="squadra : ${squadre}" th:value="${squadra.id}" th:text="${squadra.nome}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="image">Immagine</label>
                <input type="file" id="image" name="image">
                <label for="lab"></label>
            </div>


            <div class="actions">
                <button type="submit" class="btn">Crea Giocatore</button>
                <a href="/giocatori/all" class="btn">Annulla</a>
            </div>
        </form>
    </main>

    <footer>
        <p>Federazione Sportiva - Contatti: info@federazionesportiva.it</p>
    </footer>

</body>
</html>




