<!DOCTYPE html>
<html>
    <head>
        <title>Login_SIW_Federation</title>
        <meta charset="UTF 8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/styles.css?version=3"/>
        <script th:inline="javascript" src="/javascript/script.js"></script>

        <!--bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body class="login-background">

        <header class="header_navbar">
            <a href="/"><img src="/images/logo/logo.png" class="header_logo" alt="Logo"/></a>
        </header>

        <div class="loginRegistrationDiv">
            <form class="form-signup" th:action="@{/registrationData}" method="post">

                <h1 class="h3 mb-3 font-weight-normal text-center text-white">Registrati</h1>

                <div>
                    <label class="sr-only" >Codice Fiscale</label>
                    <input type="text" name="CF" class="form-control mb-3 inputRegistration" placeholder="CF"/>
                </div>
                
                <div>
                    <label class="sr-only" >Nome</label>
                    <input type="text" name="nome" class="form-control mb-3 inputRegistration" placeholder="Nome"/>
                </div>
                    
                <div>
                    <label class="sr-only">Cognome</label>
                    <input type="text" name="Cognome" class="form-control mb-3 inputRegistration" placeholder="Cognome"/>
                </div>

                <div>
                    <label class="sr-only">Data di nascita</label>
                    <input type="text" name="dataNascita" class="form-control mb-3 inputRegistration" placeholder="dataNascita"/>
                </div>

                <div>
                    <label class="sr-only">Luogo di Nasvita</label>
                    <input type="text" name="luogoNascita" class="form-control mb-3 inputRegistration" placeholder="luogoNascita"/>
                </div>

                <div>
                    <label class="sr-only">Your Username</label>
                    <input type="text" th:field="${credentials.username}" class="form-control mb-3" placeholder="Username" required autofocus/>
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
                </div>

                <div>
                    <label class="sr-only">Insert Password</label>
                    <input type="password" th:field="${credentials.password}" class="form-control mb-3" placeholder="Password" required/>
                    <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
                </div>

                
                <div class="mb-3" id="chooseRoleRegistration">
                    <label class="d-block text-white">Registrati come:</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="presidenteRole" name="role" value="PRESIDENTE" class="custom-control-input" checked onclick="updateRegistrationForm(this)">
                        <label class="custom-control-label text-white" for="presidenteRole">Lettore</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="giocatoreRole" name="role" value="GIOCATORE" class="custom-control-input" onclick="updateRegistrationForm(this)">
                        <label class="custom-control-label text-white" for="giocatoreRole">Giocatore</label>
                    </div>
                </div>
                
                
                
                <button type="submit" id="registrationButton" class="btn btn-lg btn-primary btn-block custom-btn">Registrati</button>

                <p class="mt-2 text-center" id="loginLink">
                    <span class="text-white"> Hai gia' un account? </span>
                    <a href="/loginPage" class="custom-link">Accedi</a>
                </p>

            </form>
        </div>

    </body>
</html>