<!DOCTYPE html>
<html>
    <head>
        <title>Registrazione - FreshGame</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/registrationStyles.css"/>
        <script src="/javascript/script.js" defer></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body class="login-background">

        <header class="header_navbar">
            <a href="/"><img src="/images/logo/logo.png" class="header_logo" alt="Logo"/></a>
        </header>

        <div class="loginRegistrationDiv">
            <form class="form-signup" th:action="@{/registrationData}" method="post">

                <h1 class="h3 mb-3 font-weight-normal text-center text-white">Registrati</h1>

                <div>
                    <label class="sr-only" for="cf">Codice Fiscale</label>
                    <input type="text" id="cf" name="CF" class="form-control mb-3 inputRegistration" placeholder="Codice Fiscale" required/>
                </div>
                
                <div>
                    <label class="sr-only" for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control mb-3 inputRegistration" placeholder="Nome" required/>
                </div>
                    
                <div>
                    <label class="sr-only" for="cognome">Cognome</label>
                    <input type="text" id="cognome" name="Cognome" class="form-control mb-3 inputRegistration" placeholder="Cognome" required/>
                </div>

                <div>
                    <label class="sr-only" for="dataNascita">Data di nascita</label>
                    <input type="date" id="dataNascita" name="dataNascita" class="form-control mb-3 inputRegistration" required/>
                </div>

                <div>
                    <label class="sr-only" for="luogoNascita">Luogo di Nascita</label>
                    <input type="text" id="luogoNascita" name="luogoNascita" class="form-control mb-3 inputRegistration" placeholder="Luogo di Nascita" required/>
                </div>

                <div>
                    <label class="sr-only" for="username">Username</label>
                    <input type="text" id="username" th:field="${credentials.username}" class="form-control mb-3" placeholder="Username" required/>
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" class="text-danger"></span>
                </div>

                <div>
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" id="password" th:field="${credentials.password}" class="form-control mb-3" placeholder="Password" required/>
                    <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" class="text-danger"></span>
                </div>

                <div class="mb-3" id="chooseRoleRegistration">
                    <label class="d-block text-white">Registrati come:</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="presidenteRole" name="role" value="PRESIDENTE" class="custom-control-input" checked onclick="updateRegistrationForm(this)">
                        <label class="custom-control-label text-white" for="presidenteRole">Presidente</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="giocatoreRole" name="role" value="GIOCATORE" class="custom-control-input" onclick="updateRegistrationForm(this)">
                        <label class="custom-control-label text-white" for="giocatoreRole">Giocatore</label>
                    </div>
                </div>
                
                <button type="submit" id="registrationButton" class="btn btn-lg btn-primary btn-block custom-btn">Registrati</button>

                <p class="mt-2 text-center" id="loginLink">
                    <span class="text-white">Hai già un account?</span>
                    <a href="/loginPage" class="custom-link">Accedi</a>
                </p>

            </form>
        </div>

    </body>
</html>
