<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco Giocatori</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Elenco dei Giocatori</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/squadra/squadre">Squadre</a></li>
                <li><a href="/giocatore/nuovo">Crea Giocatore</a></li>
               <!-- <li th:if="${#authorization.expression('hasRole('PRESIDENTE')')}">
                    <a href="/giocatore/nuovo">Crea Giocatore</a>
                </li>-->
            </ul>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Ruolo</th>
                    <th>Squadra</th>
                    <th>Azione</th>
                </tr>
            </thead>
            <tbody>
                <!-- Popolamento dinamico dei dati -->
                <tr th:each="giocatore : ${giocatori}">
                    <td th:text="${giocatore.nome}"></td>
                    <td th:text="${giocatore.cognome}"></td>
                    <td th:text="${giocatore.ruolo}"></td>
                    <td th:text="${giocatore.squadra != null ? giocatore.squadra.nome : 'N/A'}"></td>
                    <td>
                        <a class="button" th:href="@{'/giocatore/modifica/' + ${giocatore.id}}">Modifica</a>
                        <a class="button" th:href="@{'/giocatore/cancella/' + ${giocatore.id}}">Cancella</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>Contatti: Federazione Sportiva | Via Roma, 100 | 00100 Roma | Tel: +39 06 1234567 | Email: info@federazionesportiva.it</p>
    </footer>
</body>
</html>
